
:root {
    --tooltip-text-color: white;
    --tooltip-background-color: red;
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
}

.TooltipWrapper {
    display: inline-block;
    position: relative;
}

.Tooltip {
    position: absolute;
    border-radius: 10px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    padding: 9px;
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
}

.Tooltip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
}

.Tooltip.right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

.Tooltip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background-color);
}

.Tooltip.bottom {
    bottom: calc(var(--tooltip-margin) * -1);
}

.Tooltip.bottom::before {
    bottom: 100%;
    border-bottom-color: var(--tooltip-background-color);
}


